In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import gc

In [2]:
df = pd.read_csv("datasets/data_segmentation.csv")
df.head(3)

,customer_id,recence,frequence,montant,review_score,product_category,customer_city,payment_type
0,b3a9bf200375f53cc5c6991919c356fd,2016-10-04 09:43:32,1,32.49,5.0,consoles_games,sao paulo,credit_card
1,70fc57eeae292675927697fe03ad3ff5,2016-10-04 10:18:57,1,21.50,1.0,sports_leisure,rio de janeiro,credit_card
2,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-04 10:19:23,1,29.99,5.0,fashion_shoes,taubate,credit_card

In [3]:
df["recence"] = pd.to_datetime(df["recence"], format="%Y-%m-%d", errors="ignore")
df["review_score"] = df["review_score"].astype("int64")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91633 entries, 0 to 91632
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       91633 non-null  object
 1   recence           91633 non-null  datetime64[ns]
 2   frequence         91633 non-null  int64
 3   montant           91633 non-null  float64
 4   review_score      91633 non-null  int64
 5   product_category  91633 non-null  object
 6   customer_city     91633 non-null  object
 7   payment_type      91633 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 5.6+ MB

In [5]:
df.head()

,customer_id,recence,frequence,montant,review_score,product_category,customer_city,payment_type
0,b3a9bf200375f53cc5c6991919c356fd,2016-10-04 09:43:32,1,32.49,5,consoles_games,sao paulo,credit_card
1,70fc57eeae292675927697fe03ad3ff5,2016-10-04 10:18:57,1,21.50,1,sports_leisure,rio de janeiro,credit_card
2,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-04 10:19:23,1,29.99,5,fashion_shoes,taubate,credit_card
3,da0ba2a9935bca5b4610b0e3bca9d3b4,2016-10-04 10:25:46,1,89.90,1,housewares,sao paulo,credit_card
4,b8cf418e97ae795672d326288dfab7a7,2016-10-04 10:28:07,1,119.90,1,furniture_decor,hortolandia,credit_card

In [6]:
test_set = df[df["recence"].dt.year == 2018]

In [7]:
train_set = df[df["recence"].dt.year != 2018]

In [8]:
train_set.head()

,customer_id,recence,frequence,montant,review_score,product_category,customer_city,payment_type
0,b3a9bf200375f53cc5c6991919c356fd,2016-10-04 09:43:32,1,32.49,5,consoles_games,sao paulo,credit_card
1,70fc57eeae292675927697fe03ad3ff5,2016-10-04 10:18:57,1,21.50,1,sports_leisure,rio de janeiro,credit_card
2,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-04 10:19:23,1,29.99,5,fashion_shoes,taubate,credit_card
3,da0ba2a9935bca5b4610b0e3bca9d3b4,2016-10-04 10:25:46,1,89.90,1,housewares,sao paulo,credit_card
4,b8cf418e97ae795672d326288dfab7a7,2016-10-04 10:28:07,1,119.90,1,furniture_decor,hortolandia,credit_card

In [9]:
train_set.shape

(41093, 8)

In [10]:
test_set.shape

(50540, 8)

# Mod√©lisation